DATABASE_CREDENTIALS= // {"username":"YOUR USER","password":"PASSWORD","database":"DATABASE","host":"localhost","port":"5432","dialect":"postgres"}
NODE_ENV= development
PORT= // PREFERRED PORT NUMBER
JWT_SECRET_KEY= //YOUR_JWT_SECRET_KEY_HERE
JWT_EXPIRE_TIME= //YOUR_JWT_EXPIRE_TIME_HERE